footer{
    background-color: yellowgreen;
  }
  body{
    background-color: aliceblue;
  }
  .lolo{
    margin-left: 500px;
    margin-right:40px ;
  }
  h2{
    text-align: center;
  }
  .cof2{
    float: left;
  }
  h5{
    float:left
  }
  NAV{
    background-color:greenyellow;
  }
  ul li a{
    list-style: none;
    vertical-align: auto;
  }
  li{
    display: inline;
    margin: 8px;
  }
  #header{
background-color: yellowgreen;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
text-align: center;
}

      /*mobile device (portrait and landscape)*/
      @media only screen and 
      (max-width:430px) and 
      (max-height:932px){
        #header{
          background-color: greenyellow;
          background-position:center ;
          background-repeat: no-repeat;
          width: 100vh;
      }
      nav{
          background-color: greenyellow;
          background-position:center ;
          background-repeat: no-repeat;
          width: 100vh;
      }
      .lolo{
        margin-right: 20px;
        margin-left: 310px;
      }
      h2{
     width: 100vh;
      }
      h5{
        width: 100vh;
      }
      #main{
        width: 100vh;
      }
      #more{
        width: 100vh;
      }
      footer{
        background-color: greenyellow;
        background-position:center ;
        background-repeat: no-repeat;
        width: 100vh;
      }
    }

