.lolo{
    margin-left: 500px;
    margin-right:40px ;
}
      body{
    background-color:aliceblue;
 }
 footer{
    background-color:yellowgreen;
  }
  NAV{
    background-color:greenyellow;
  }
  ul li a{
    list-style: none;
    vertical-align: auto;
  }
  li{
    display: inline;
    margin: 8px;
  }
  #header{
background-color: yellowgreen;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
text-align: center;
}
.bb{
  float:inline-start;
}
.cons{
  float: inline-start;
}
#first{
  background-color: yellowgreen;
}

/*mobile device (portrait and landscape)*/
@media only screen and 
(max-width:430px) and 
(max-height:932px){
  #header{
    background-color: greenyellow;
    background-position:center ;
    background-repeat: no-repeat;
    width: 100vh;
}
nav{
    background-color: greenyellow;
    background-position:center ;
    background-repeat: no-repeat;
    width: 100vh;
}
.lolo{
  margin-right: 20px;
  margin-left: 170px;
}
h1{
  width: 100vh;
}
#first{
  width: 100vh;
}
#occasion{
  width: 100vh;
}
#will{
  width: 100vh;
}
h2{
  width: 100vh;
}
#pp{
  width: 100vh;
}
footer{
  background-color: greenyellow;
  background-position:center ;
  background-repeat: no-repeat;
  width: 100vh;
}
}

